body{
    font-family: cursive;
    justify-content: center;
    left: 20px;
    font-size: 30px;
    background-size: cover;
}
ul{
    list-style-type: none;
    padding:0px;
    margin: 0%;
  
   
}

li{
    float: left;
}
li a{
    color: white;
    text-align: center;
    display: block;
    width: 254px;
    background-color: black;
    overflow: hidden;

}
li a:hover{
    background-color: yellowgreen;
}
.active{
    background-color: green;
}
 a:hover:not(.active){
    background-color: red;
}

.center{
    position: absolute;
    top: 300px;
    width: 500px;
    text-align: center;
  margin-left: 200px;
 
}

button{
    color: black;
    background-color:darkcyan;
    font-size:20px;
    padding: 10px;
    font-family: fantasy;
    box-shadow: 0px 3px 10px 10px blue;


}


button:hover{
    background-color:brown;
}

h2{
    color:black;
    font-family: serif;

}
span{
    color: red;
    padding: 10px;
    font-style: italic;
}
sub{
    color:blue;
}

p{
    margin: 0%;
    font-size: 15px;
  
}

 #button{
    background-color: aquamarine;
    text-align: center;
    margin-left: 70px;
    padding: 5px;
  box-shadow: 0px 0px 10px 0px blueviolet;
  
}
#button:hover{
    background-color: yellow;
}
.head {
    display: flex;
background-color: wheat;
width: 1300px;
padding: 10px;
margin: 0px;
border: 1px solid black;
}




